<%= render "shared/error_messages", resource: resource %>
<div class="flex bg-green-100 p-10">
  <div class="w-full">
    <h2 class="font-bold text-2xl text-green-600">Update you Account</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="flex space-x-4">
        <div class="w-1/2">
          <div class="my-4">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'h-12 rounded-md border  border-gray-800 p-2 w-full' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>
        <div class="w-1/2">

          <div class="my-4">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: 'h-12 rounded-md border  border-gray-800 p-2 w-full' %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="my-4">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'h-12 rounded-md border  border-gray-800 p-2 w-full' %>
          </div>

          <div class="my-4">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: 'h-12 rounded-md border  border-gray-800 p-2 w-full' %>
          </div>
        </div>
      </div>

      <div class="actions space-x-4">
        <%= f.submit "Update", class: 'bg-green-700 text-white p-2 rounded' %>
        <%= link_to 'Cancel Account', cancel_registration_path, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</div>
