<!DOCTYPE html>
<html>
  <head>
    <title>WalletControl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="bg-green-500 p-4 flex items-center justify-between">
      <div class="flex items-center">
        <h1 class="text-white text-xl font-semibold">WalletControl<i class="ml-4 fa-solid fa-wallet  text-white"></i></h1>
      </div>


      <div class="flex items-center space-x-4 menu">
        <%= link_to 'Home', root_path, class: 'text-white' %>
        <%= link_to 'Wallet', wallet_path, class: 'text-white' %>
        <%= link_to 'Update Account', edit_user_registration_path, class: 'text-white' %>
        <%= link_to 'Profile', profile_path(:more_info), class: 'text-white' %>
        <%= button_to 'Signout', destroy_user_session_path, method: :delete, class: 'text-white' %>
      </div>
    </div>

    <main class="container mx-auto mt-10 px-5">
      <%=render 'shared/flash_messages' %>
      <%= yield %>
    </main>
  </body>
</html>
